/* GENERAL SETTINGS */

html {
    --green: rgb(26,188,156);
}

.bkg_green {
    background-color: var(--green);
}

/* HEADER */

/* NAVBAR */

nav {
    height: 50px;
    background-color: rgb(44,62,80);
}

/* JUMBO SECTION */

.jumbo img {
    aspect-ratio: 2 / 1;
}

/* SECTION CONTACT UP */

li {
    list-style: none;
}

/* SECTION CONCTACT DOWN */

.bkg_light_grey {
    background-color: rgb(58,84,109);
}

/* FOOTER */

footer {
    background-color: rgb(44,62,80);
}
