/* GENERAL SETTINGS */

html {
    --green: rgb(26,188,156);
}

.bkg_grey {
    background-color: rgb(44,62,80);
}

.bkg_green {
    background-color: rgb(26,188,156);
}

.bkg_light_grey {
    background-color: rgb(58,84,109);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

li {
    list-style: none;
}

.jumbo img {
    width: 200px;
}